@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-content">
        <h1>Charm Venice C. Montero</h1>
     <br>
        <h3>Bachelor of Science in Information Technology (BSIT)</h3>
     <br> <br>
        <div class="highlight-box">
            <b><p>Hi There!</p></b>
        </div>

        <p>I'm Charm Venice C. Montero currently taking Bachelor of Science in Information Technology (BSIT) section 32E1.</p>
    </div>

    <div class="image">
        <img src="PicsArt_12-02-06.52.17.jpg" alt="My Picture" class="circle-image">
    </div>
</div>
