@{
    ViewData["Title"] = "Schedule";
}

<style>
    .Text {
        font-family: 'Lucida Console", "Courier New", monospace';
        color: #fff;
        text-align:left;
    }

    h1 {
        flex: 1;
        text-align: left;
        margin-top: 50px;
    }

    body {
    }

    table {
        font-family: 'Lucida Console", "Courier New", monospace';
        color: #fff;
        text-align: center;
        width: 170%;
        border-collapse: collapse;
        margin-top: 90px;
      
    }

    td {
        border: 1px solid #fff;
        padding: 20px;
        text-align: center;
    }

    th {
        border: 1px solid #fff;
        padding: 5px;
        text-align: center;
    }
        </style>

            <div class="Text">
                <h1>SCHEDULE</h1>
            <div>

<div class="table">
                <table>
                    <tr>
                <th rowspan="2">Section</th>
                <th rowspan="2">Course Title</th>
                <th rowspan="2">Prof</th>
                <th rowspan="2">Units</th>
                <th colspan="2">Asynchronous</th>
                <th colspan="2">Face to Face Time</th>
               
            </tr>
            <tr>
                <td>Day</td>
                <td>Time</td>
                <td>Day</td>
                <td>Time</td>
            </tr>
            <tr>
                <td>BSIT32E1</td>
                <td>IT Elective 3</td>
                <td>Prof. Alamo</td>
                <td>3</td>
                <td>Thursday</td>
                <td>1:00pm-2:00pm</td>
                <td>Saturday</td>
                <td>7:00am-10:00am</td>
                
            </tr>
        </table>
    </div>